<div class="faq-wrapper">
  <dl>
    <dt>
    Trouble signing in?
    </dt>
    <dd>
    Please email your last name, your student&#39;s ID number and your student&#39;s date of birth to <a href="mailto:schoolbus@bostonpublicschools.org">schoolbus@bostonpublicschools.org</a>.  Typically, we can address this issue within two business days.
    </dd>

    <dt>
    Experiencing long delays when refreshing?
    </dt>
    <dd>
    People can occasionally experience long delays in seeing where a bus is.  This is usually due to the quality of internet connectivity at that time.  Please try refreshing later or finding a better internet connection.
    </dd>

    <dt>
    View not formatting correctly?
    </dt>
    <dd>
    Where&#39;s My School Bus works on most web browsers, but not on all.  If you feel it is not formatting properly for you, please email the name of the web browser you are using to <a href="mailto:schoolbus@bostonpublicschools.org">schoolbus@bostonpublicschools.org</a>.

    In the short term you can try using a different web browser such as Chrome, Internet Explorer 9, Firefox or Safari.  In the long term, we will explore adjusting the app to work on more browsers.
    </dd>

    <dt>
    Bus appearing in the Atlantic Ocean?
    </dt>
    <dd>
    If the GPS device on a bus is not working, the app may show the bus someplace that it is certainly  not.  For example, a bus may appear in the Atlantic Ocean off of the west coast of Africa. (For those interested, it appears there because that is zero latitude and zero longitude, which is the default location provided when there is not a GPS signal.)

    If this happens to you, please email the bus number to <a href="mailto:schoolbus@bostonpublicschools.org">schoolbus@bostonpublicschools.org</a>. BPS will work with the bus company to make this fix.
    </dd>
  </dl>
  <div class="bus-marker-image"></div>
</div>
