h2 {
  color: $dk-blue;
  font-size: 1em;
  font-weight: 700;
}

.small-text {
  font-family: $font-h;
  font-size: .7em;
  font-weight: 500;
  text-decoration: none;
  color: $dk-blue;
}

label {
  font-size: 1em;
  font-weight: 700;
  color: $green;
  line-height: 1.75em;
}

.rotate {
  @include transform(rotate(180deg));
}

.closed {
  display: none;
}
