#bus-view {
  .header-info {
    margin: .875em 0;
    padding: 0 1em .5em;
    float: left;
    @media (max-width: $break-med) {
      margin: .75em 0 0;
      padding: 0 .65em;
      font-size: .875em;
    }
  }

  h4, h2 {
    margin-top: 0;
  }

  h4 {
    margin-bottom: .25em;
  }

  h2 {
    margin-bottom: 0;
  }

  .header-info-first {
    border: none;
    @media (max-width: $break-med) {
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
    h4 {
      @media (max-width: $break-med) {
        display: none;
      }
    }
  }
}

.student-names {
  z-index: 999;
  position: absolute;
  list-style: none;
  background: $dk-blue;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
  margin-top: 0;
  width: 10.875em;
  .student-name {
    color: $green;
    font-size: 1em;
    font-weight: 700;
    margin: .5em 0;
    cursor: pointer;
    &:hover {
      color: $lt-blue;
    }
  }
}

.selected-student {
  background: $grey;
  padding: .25em .25em .25em .5em;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;

  h2 {
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .name {
    white-space: nowrap;
    float: left;
    width: 10em;
  }
}

.header-details {
  @media (max-width: $break-med) {
    width: 100%;
    overflow: hidden;
  }
}

.close-session {
  float: right;
  @extend .selected-student;
  background: $dk-blue;
  color: $green;
  text-decoration: none;
  padding: 0.3em 1em .415em;
  margin: 1.875em 1em 1em;
  font-weight: 700;

  &:hover {
    background: $grey;
    color: $dk-blue;
    cursor: pointer;
  }
  @media (max-width: $break-med) {
    margin: 0;
  }
  @media (max-width: $break-xsm) {
    width: 35px;
    font-size: 1em;
    padding: .3em 1.5em .4em .75em;
  }
}
