#bus-view {

  .header-info {
    margin: .875em 0;
    padding: 0 .75em .5em;
    float: left;

    @media (max-width: $break-med) {
      margin: 0;
      padding: .675em .5em 0 0;
      font-size: .875em;
    }

    @media (max-width: $break-med) and (min-width: $break-sm-landscape) {
      margin-top: 0;
      padding-top: .5em;

      h2 {
        font-size: .875em;
        margin-top: 0;
      }
    }

  }

  h4, h2 {
    margin-top: 0;
  }

  h4 {
    margin-bottom: .25em;
  }

  h2 {
    margin-bottom: 0;
    margin-top: .45em;
  }

  .student {
    border: none;
    @media (max-width: $break-med) {
      font-size: 1em;
      margin: 0;
      padding: 0;
    }

    h4 {
      @media (max-width: $break-med) {
        display: none;
      }
    }
  }
}

.student-names {
  z-index: 999;
  position: absolute;
  list-style: none;
  background: $dk-blue;
  padding: 1em;
  border-radius: 25px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
  margin-top: 0;
  width: 11.125em;

  .student-name {
    color: $green;
    font-size: 1em;
    font-weight: 700;
    margin: .5em 0;
    cursor: pointer;

    &:hover {
      color: $yellow;
    }

  }
}

.select-students {
  background: $grey;
  border-radius: 20px;
  cursor: pointer;
  padding: .25em .25em .25em .5em;
}

.selected-student {
  overflow: hidden;
  height: 33px;
  border-radius: 20px;
  padding: .65em .25em 0 .75em;

  @media (min-width: $break-med + 1) {
    height: 23px;
    border-radius: 25px;
    padding: .25em .25em .3em .75em;
  }

  .name {
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    font-weight: 700;
    color: $dk-blue;
    width: 10em;

    @media (min-width: $break-sm-landscape) and (max-width: 525px) {
      max-width: 5em;
    }

    @media (max-width: $break-med) and (min-width: 526px) {
      width: 8em;
      margin-right: .5em;
    }
  }
}

.header-details {
  overflow: hidden;
  float: left;

  @media (max-width: $break-sm-landscape - 1) {
    width: 100%;    
    float: none;
    margin: .25em 0 .25em .125em;
  }

  @media (min-width: $break-sm-landscape) {
    width: auto;
    margin: 0 0 .25em .5em;
  }
}

.close-session {
  float: right;
  background: $dk-blue;
  color: $green;
  text-decoration: none;
  text-align: center;
  margin: 1.6em 1em 1em 0;
  font-weight: 700;
  overflow: hidden;
  height: 23px;
  border-radius: 25px;
  padding: .25em 1em .35em;
  margin: 1.875em 1em 0 0;
  font-size: 1em;

  &:hover {
    background: $grey;
    color: $dk-blue;
  }

  @media (max-width: $break-xsm) {
    font-size: 1em;
    padding: .3em 1.5em .4em .75em;
  }

  @media (max-width: $break-med) {
    padding: .65em 1em 0;
    height: 33px;
    margin: 0;
  }
}
