.icon-down-dir {
  font-family: 'fontello';
  content: '\25be';
  font-size: 1.5em;
  color: $yellow;
  float: right;
}

.icon-cancel-circle {
  color: $dk-blue;
  content: "\2716";
  font-size: 1.5em;
  margin-top: .25em;
  text-decoration: none;
}
