.icon-down-dir {
  font-family: 'fontello';
  font-size: 1.5em;
  color: $yellow;
  float: right;
  &:hover {
    color: $lt-blue;
  }
}

.icon-cancel-circle {
  color: $dk-blue;
  font-size: 1.5em;
  text-decoration: none;
  &:hover {
    color: $grey;
  }
}

.icon-phone, .icon-mail {
  text-decoration: none;
  color: $dk-blue;
}
