html, body {
  height: 100%;
}

body {
  font-family: $font-e;
  margin: 0;
  padding: 0;

  &.sessions {
    background: $dk-blue;
  }
}

#header {
  background: $green;
  overflow: hidden;
  min-height: 90px;
  @media (max-width: $break-med) {
    min-height: 40px;
    padding: 1em;
  }
  @media(max-width: $break-sm) {
    min-height: 25px;
  }
}

.notifications {
  width: 100%;
  padding: 1em 0 1.5em;
  font-family: $font-e;
  background: $lt-blue;
  color: $dk-blue;
  position: absolute;
  z-index: 99999;
  text-align: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
  vertical-align: -3%;
}

.footer {
  width: 100%;
  @include box-sizing(border-box);
  background: $lt-blue;
  position: fixed;
  bottom: 0;
  padding: 20px;
  overflow: auto;
  @media (max-width: $break-med) {
    padding: 5px 20px;
  }
}

.contact {
  margin-top: 8px;
  float: left;
  border-left: 1px solid $dk-blue;
  padding-left: 22px;
  @media (max-width: $break-med) {
    position: relative;
    border-left: none;
    padding-left: 0;
    margin-top: 0;
    width: 100%;
  }

  a:hover {
    color: $grey;
  }

  .small-text {
    margin: .5em 0;
    display: block;
    @media (max-width: $break-med) {
      float: left;
      max-width: 65%;
      padding: 0 .25em;
      margin: 0;
      &:first-child {
        margin-top: .25em;
      }
    }

    &:first-child {
      font-weight: 700;
    }
  }
  @media (max-width: $break-med) {
    .icon-contact {
      font-size: 1.5em;
      float: right;
      margin-left: .375em;
    }
    .text-contact {
      display: none !important;
    }
  }
  @media (min-width: $break-med + 1) {
    .icon-contact {
      display: none;
    }
  }
}

.credit {
  float: right;
  margin-top: 42px;
  @media (max-width: $break-med) {
    display: none;
  }

  p {
    float: left;
    margin: .55em .65em .65em;
    font-weight: 500;
  }

  .vermonster-logo {
    display: block;
    float: left;
    background-image: image-url('vermonster-logo.svg');
    background-position: left top;
    background-size: 123px, 34px;
    width: 123px;
    height: 17px;

    &:hover {
      background-position: left bottom;
    }
  }
}

.bps-logo {
  display: block;
  background-image: image-url('bps-logo-2.svg');
  background-position: left top;
  background-size: 125px 140px;
  width: 126px;
  height: 70px;
  float: left;
  margin-right: 15px;
  @media (max-width: $break-med) {
    display: none;
  }

  &:hover {
    background-position: left bottom;
  }
}
