html, body {
  height: 100%;
}

body {
  font-family: $font-e;
  margin: 0;
  padding: 0;
  background: $dk-blue;
}

#header, #header-login {
  background: $green;
  overflow: hidden;

  @media (max-width: $break-med) {
    padding: .75em .5em;
  }

  @media (max-width: $break-sm-landscape - 1) and (orientation : portrait) {
    padding: .75em 0 0;
  }

}

#header-login {
  min-height: 77px;

  @media (max-width: $break-med) {
    min-height: 50px;
    padding: .75em .5em;
  }

  @media(max-width: $break-sm) {
    min-height: 25px;
  }
}

.notifications {
  width: 100%;
  padding: 1em 0 1.5em;
  font-family: $font-e;
  background: $lt-blue;
  color: $dk-blue;
  position: absolute;
  z-index: 99999;
  text-align: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
  vertical-align: -3%;
}

.footer {
  width: 100%;
  background: $lt-blue;
  position: fixed;
  bottom: 0;

  @media (max-width: $break-sm-landscape) and (orientation : landscape) {
    display: none;
  }
}

.survey {
  width: 100%;
  background: $green;
  padding: 2px;
  text-align: center;
  overflow: hidden;
  .survey-content {
    margin: 0 auto;
    width: 140px;
    overflow: hidden;
  }
  a {
    color: $dk-blue;
    font-family: $font-e;
    font-weight: 700;
    font-size: .875em;
    float: left;
  }
  .circle {
    border: 1px $dk-blue solid;
    border-radius: 15px;
    margin: .125em .5em;
    top: 1px;
    height: .75em;
    width: .775em;
    float: left;
    color: $dk-blue;
    position: relative;
  }
}

.survey-link:hover {
  color: darken($dk-blue, 5%);
}

.contact {
  margin: 21px 15px 15px 0;
  padding-left: 16px;
  float: left;
  border-left: 1px solid $dk-blue;

  @media (max-width: $break-med) {
    position: relative;
    border-left: none;
    padding-left: 0;
    margin: 6px 13px 6px 9px;
  }

  & a:hover {
    color: $grey;
  }

  .small-text {
    margin: .5em 0;
    display: block;

    @media (max-width: $break-med) {
      float: left;
      margin: 0;

      &:first-child {
        margin-top: .5em;
      }
    }

    &:first-child {
      font-weight: 700;

      @media (max-width: $break-med) {
        margin-top: .5em;
      }
    }
  }

  @media (max-width: $break-med) {
    .icon-contact {
      font-size: 1em;
      float: right;
      margin-left: .375em;
    }
    .text-contact {
      display: none !important;
    }
  }

  @media (min-width: $break-med + 1) {
    .icon-contact {
      display: none;
    }
  }
}

.credit {
  float: right;
  margin-top: 61px;

  p {
    float: left;
    margin: .6em .65em .65em;
    font-weight: 500;
  }

  a.vermonster-text {
    font-weight: 700;
    margin: .65em .65em .65em -.5em;

    @media (min-width: $break-med + 1) {
      display: none;
    }
  }

  .vermonster-logo {
    margin-right: 15px;
    float: left;
    background: image-url('vermonster-logo.svg') left top;
    background-size: 123px, 34px;
    background-repeat: no-repeat;
    width: 123px;
    height: 17px;

    @media (max-width: $break-med) {
      display: none;
    }

    &:hover {
      background-position: left bottom;
    }
  }

  @media (max-width: $break-med) {
    margin: 5px .25em 0 0;
  }
}

.bps-logo {
  background: image-url('bps-logo-2.svg') left top;
  background-repeat: no-repeat;
  width: 126px;
  height: 70px;
  float: left;
  margin: 9px 15px 18px;

  @media (max-width: $break-med) {
    display: none;
  }

  &:hover {
    background-position: left bottom;
  }
}
