html, body {
  height: 100%;
}

body {
  font-family: $font-e;
  margin: 0;
  padding: 0;

  &.sessions {
    background: $dk-blue;
  }
}

#header {
  background: $green;
  overflow: hidden;
  min-height: 77px;
  @media (max-width: $break-med) {
    min-height: 40px;
    padding: 1em;
  }
  @media (max-width: $break-med) and (min-width: $break-sm-landscape) {
    padding: .75em .5em;
    min-height: 45px;
  }
  @media(max-width: $break-sm) {
    min-height: 25px;
  }
  @media (max-width: $break-med) and (min-width: $break-sm), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    padding: .5em .25em;
    min-height: 25px;
  }
}

.notifications {
  width: 100%;
  padding: 1em 0 1.5em;
  font-family: $font-e;
  background: $lt-blue;
  color: $dk-blue;
  position: absolute;
  z-index: 99999;
  text-align: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
  vertical-align: -3%;
}

.footer {
  width: 100%;
  @include box-sizing(border-box);
  background: $lt-blue;
  position: fixed;
  bottom: 0;
  overflow: auto;
  @media (max-width: $break-med) {
  }
  @media (max-width: $break-sm-landscape) and (orientation : landscape) {
    display: none;
  }
}

.contact {
  margin: 21px 15px 15px;
  float: left;
  border-left: 1px solid $dk-blue;
  padding-left: 22px;
  @media (max-width: $break-med) {
    position: relative;
    border-left: none;
    padding-left: 0;
    margin: 6px 15px 6px 9px;
  }

  & a:hover {
    color: $grey;
  }

  .small-text {
    margin: .5em 0;
    display: block;
    @media (max-width: $break-med) {
      float: left;
      /*max-width: 65%;*/
      margin: 0;
      &:first-child {
        margin-top: .5em;
      }
    }

    &:first-child {
      font-weight: 700;
      @media (max-width: $break-med) {
        margin-top: .5em;
      }
    }
  }
  @media (max-width: $break-med) {
    .icon-contact {
      font-size: 1em;
      float: right;
      margin-left: .375em;
    }
    .text-contact {
      display: none !important;
    }
  }
  @media (min-width: $break-med + 1) {
    .icon-contact {
      display: none;
    }
  }
}

.credit {
  float: right;
  margin-top: 61px;

  p {
    float: left;
    margin: .6em .65em .65em;
    font-weight: 500;
  }

  a.vermonster-text {
    font-weight: 700;
    margin: .65em .65em .65em -.5em;
    @media (min-width: $break-med + 1) {
      display: none;
    }
  }

  .vermonster-logo {
    margin-right: 15px;
    float: left;
    background-image: image-url('vermonster-logo.svg');
    background-position: left top;
    background-size: 123px, 34px;
    width: 123px;
    height: 17px;
    @media (max-width: $break-med) {
      display: none;
    }

    &:hover {
      background-position: left bottom;
    }
  }
  @media (max-width: $break-med) {
    margin: 5px .25em 0 0;
  }
}

.bps-logo {
  background-image: image-url('bps-logo-2.svg');
  background-position: left top;
  width: 126px;
  height: 70px;
  float: left;
  margin: 9px 15px 18px;
  @media (max-width: $break-med) {
    display: none;
  }

  &:hover {
    background-position: left bottom;
  }
}
