#wmsb-logo {
  background: image-url('logo.svg') no-repeat;
  width: 337px;
  height: 94px;
  background-size: contain;
  position: relative;
  z-index: 999;
  margin: 0 auto;
  left: -10px;
  top: -58px;

  @media (max-width: $break-med) {
    left: 0;
  }

  @media (max-width: $break-sm) {
    width: 265px;
    top: -35px;
    left: 0;
  }
}

#login {
  height: 412px;
  width: 412px;
  margin: -138px auto 0;
  text-align: center;
  position: relative;

  @media (max-width: $break-med) {
    background: none;
    width: auto;
  }

  .input.contact_id_family_name {
    padding-top: 99px;
  }

  label {
    display: block;

    @media(max-width: $break-sm) {
      font-size: .875em;
    }
  }

  .input {
    height: 80px;

    @media(max-width: $break-sm) {
      height: 75px;
    }
  }

  .error {
    color: #4c81a5;
    font-size: 0.7em;
    font-family: $font-h;
    margin-top: .25em;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  input {
    border-radius: 15px;
    padding: .25em 1em;
  }

  input.string {
    height: 20px;
    width: 65%;
    border: 2px #c6cccc solid;
    background: $grey;
    color: $dk-blue;
    font-size: 1em;
    font-weight: 700;
    outline: none;
    &:focus {
      background: #FFF;
      border: 2px $lt-blue solid;
    }
  }

  select {
    font-size: 1.1em;
  }

  .btn {
    border: none;
    background: $yellow;
    text-align: center;
    font-size: 1em;
    height: 32px;
    width: 74%;
    color: $dk-blue;
    font-weight: 700;
    padding-bottom: .35em;
    -webkit-appearance: none;

    &:hover {
      background: $lt-blue;
      cursor: pointer;
    }

    &:active {
      background: #3d94c4;
    }

    @media (max-width: $break-med) {
      width: 75%;
    }
  }
}
