#wmsb-logo {
  background: image-url('logo.svg');
  background-repeat: no-repeat;
  width: 340px;
  height: 98px;
  background-size: contain;
  position: relative;
  z-index: 999;
  margin: -58px auto 25px;
  left: -10px;

  @media (max-width: $break-med) {
    left: 0;
  }

  @media (max-width: $break-sm) {
    width: 265px;
    top: 25px;
    left: 0;
  }
}

.form-wrapper {
  overflow: hidden;
  margin: 0 auto 143px;
  width: 425px;
  padding: 0 0 160px;

  @media(max-width: $break-sm-landscape) {
    width: 85%;
  }

  @media(max-width: $break-med) {
    padding: 0 0 90px;
  }
}

form {
  text-align: center;
  position: relative;

  label {
    display: block;

    @media(max-width: $break-sm) {
      font-size: .875em;
    }
  }

  .input {
    height: 80px;

    @media(max-width: $break-sm) {
      height: 75px;
    }
  }

  .error {
    color: #4c81a5;
    font-size: 0.7em;
    font-family: $font-h;
    margin-top: .25em;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  input {
    border-radius: 15px;
    padding: .25em 1em;
  }

  input.string {
    height: 20px;
    width: 87%;
    border: 2px #c6cccc solid;
    background: $grey;
    color: $dk-blue;
    font-size: 1em;
    font-weight: 700;
    outline: none;
    &:focus {
      background: #FFF;
      border: 2px $lt-blue solid;
    }
  }

  select {
    font-size: 1.1em;
    margin: 0 1%;

    @media (max-width: $break-sm-landscape) {
      &:first-of-type, &:last-child {
        width: 33%;
      }
      &:nth-child(3) {
        width: 25%;
      }
    }
  }

  .btn {
    border: none;
    background: $yellow;
    text-align: center;
    font-size: 1em;
    height: 32px;
    width: 95%;
    color: $dk-blue;
    font-weight: 700;
    padding-bottom: .35em;
    -webkit-appearance: none;

    &:hover {
      background: $lt-blue;
      cursor: pointer;
    }

    &:active {
      background: #3d94c4;
    }

    @media (max-width: $break-med-ipad) {
      width: 98%;
      margin-top: 8px;
    }
  }
}
