h2 {
  color: $dk-blue;
  font-family: $font-e;
  font-size: 1em;
  font-weight: 700;
}

h4, p {
  color: $dk-blue;
  font-family: "helvetica", sans-serif;
  font-size: .7em;
  font-weight: 500;
}

label {
  font-family: $font-e;
  font-size: 1em;
  font-weight: 700;
  color: $green;
  line-height: 1.75em;
}

.rotate {
  @include transform(rotate(180deg));
}
