@import 'variables';

body {
  background-color: $dk-blue;
  color: lighten($lt-blue, 7%);
  font-size: 1.1em;
  border-top: 3px $yellow solid;
  margin: 0;
}

.faq-wrapper {
  width: 500px;
  margin: 3.25em auto 1em;
  @media (max-width: $break-sm-landscape) {
    width: 90%;
  }
}

dl {
  font-family: $font-h;
  padding-bottom: .75em;
  border-bottom: 4px solid $green;
  line-height: 28px;
}

dt {
  font-weight: 400;
  color: $green;
  font-family: $font-e;
  font-size: 1.35em;
  margin: 1.75em 0 .5em;
}

dd {
  margin: .55em 0 1.75em 0;
  a {
    color: lighten($lt-blue, 5%);
    &:hover {
      text-decoration: none;
      color: darken($lt-blue, 10%);
    }
  }
}

.bus-marker-image {
  width: 51px;
  height: 80px;
  position: relative;
  margin: 1.25em auto 2em;
  background: image-url('bus-faq.png') no-repeat;
  background-size: contain;
}
