body {
  font-family: $font-e;

  &.sessions {
    @include background(image-url('FPO-map.jpg') bottom left no-repeat);
    background-size: cover;
  }
}

#header {
  background: $green;
  overflow: hidden;
  height: 90px;
}

#wmsb-logo {
  background: image-url('logo.png') no-repeat;
  width: 337px;
  height: 94px;
  background-size: contain;
  position: relative;
  z-index: 999;
  margin: 0 auto;
  left: -10px;
  top: -70px;
}

#login {
  background: $dk-blue;
  height: 430px;
  width: 430px;
  border-radius: 50%;
  margin: -137px auto 0;
  text-align: center;
  position: relative;

  &:before {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid $dk-blue;
    margin: 20px auto;
    top: 390px;
    left: 167px;
    content: '';
  }

  &:after {
    position: absolute;
    display: inline-block;
    border-bottom: none;
    border-top: 100px solid $dk-blue;
    content: '';
  }

  .input.contact_id_family_name {
    padding-top: 100px;
  }

  label {
    display: block;
  }

  .input {
    height: 80px;
  }

  .error {
    color: white;
    font-size: 0.8em;
  }

  input {
    border-radius: 15px;
    padding: .25em 1em;
  }

  input.string {
    height: 20px;
    width: 65%;
    border: 2px #c6cccc solid;
    background: $grey;
    color: $dk-blue;
    font-size: 1em;
    font-weight: 700;
    outline: none;
  }

  .btn {
    border: none;
    background: $green;
    text-align: center;
    font-size: 1em;
    height: 35px;
    width: 30%;
    color: $dk-blue;
    font-weight: 700;
    padding-bottom: .35em;
    &:hover {
      background: $yellow;
      cursor: pointer;
    }
  }
}

#bus-view {
  .student, .time {
    margin: .875em 0;
    padding: 0 2em .5em;
    float: left;
    h4, h2 {
      margin-top: 0;
    }
    h4 {
      margin-bottom: .5em;
    }
    &.time {
      margin-right: 0;
      border-left: 1px $grey solid;
    }
  }
}

.student-names {
  z-index: 999;
  position: absolute;
  list-style: none;
  background: $dk-blue;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
  margin-top: 0;
  width: 10.875em;
  .student-name {
    color: $green;
    font-size: 1em;
    font-weight: 700;
    margin: .5em 0;
    cursor: pointer;
    &:hover {
      color: $lt-blue;
    }
  }
}

.closed {
  display: none;
}

.selected-student {
  background: $grey;
  padding: .25em .25em .25em .5em;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
  h2 {
    margin-bottom: 0;
  }
}

.name {
  white-space: nowrap;
  float: left;
  width: 10em;
}

.icon-down-dir {
  font-family: 'fontello';
  content: '\25be';
  font-size: 1.5em;
  color: $yellow;
  float: right;
}

.close-session {
  float: right;
  @extend .selected-student;
  background: $dk-blue;
  color: $green;
  text-decoration: none;
  padding: .375em 1em;
  margin: 2em 1em 1em;
  font-weight: 700;
  &:hover {
    background: $yellow;
    color: $dk-blue;
    cursor: pointer;
  }
}

.notifications {
  width: 100%;
  padding: 1em 0 1.5em;
  font-family: $font-e;
  background: $lt-blue;
  color: $dk-blue;
  position: absolute;
  z-index: 99999;
  text-align: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
  vertical-align: -3%;
}

.icon-cancel-circle {
  color: $dk-blue;
  content: "\2716";
  font-size: 1.5em;
  margin-top: .25em;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 15%;
  background: $grey;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #A6A6A6;
}

.contact {
  margin: 1.5% 0 0;
  float: left;
  border-left: 1px solid #A6A6A6;
  padding-left: 2em;
  a {
    color: #A6A6A6;
    margin: .5em 0;
    font-weight: 500;
    display: block;
    &:hover {
      color: $dk-blue;
    }
    &:first-child {
      font-weight: 700;
    }
  }
}

.credit {
  float: right;
  margin: 3.5% 2% 0 0;
  p {
    float: left;
    color: #A6A6A6;
    margin: .65em;
    font-weight: 500;
  }
  .vermonster-logo {
    float: left;
    background: image-url('vermonster-logo-grayscale.svg') no-repeat;
    background-size: contain;
    width: 140px;
    height: 20px;
    &:hover {
      background: image-url('vermonster-logo.svg') no-repeat;
      background-size: contain;
      width: 140px;
      height: 20px;
    }
  }
}

.bps-logo {
  background: image-url('bps_logo_grayscale.png') no-repeat;
  background-size: contain;
  height: 70px;
  width: 126px;
  float: left;
  margin: 1.25em 2em 1.25em 2.5em;
  &:hover {
    background: image-url('bps_logo.png') no-repeat;
    background-size: contain;
    height: 70px;
    width: 126px;
  }
}
