%script#locations{ type: 'text/json' }
  #{ @assignments.to_json }

:javascript
  function initialize() {
    var tmp, assignments, text, view;

    tmp = document.createElement('div');
    text = document.getElementById('locations').innerHTML
    tmp.innerHTML = text

    assignments = new Wmsb.Collections.BusAssignments(JSON.parse(tmp.innerHTML));
    view = new Wmsb.Views.MapView({
      collection: assignments,
      el: document.getElementById('map-canvas-wrapper')
    });

    view.render();
  }

  google.maps.event.addDomListener(window, 'load', initialize);

#map-canvas-wrapper
  %ul.students
    - @assignments.object.each do |assignment|
      %li
        %a.student-name{ href: 'javascript:void(0)' }= assignment.student_name
  #map-canvas
