%script#locations{ type: 'text/json' }
  #{ @assignments.to_json }

:javascript
  function initialize() {
    var tmp, locations, text, view;

    tmp = document.createElement('div');
    text = document.getElementById('locations').innerHTML
    tmp.innerHTML = text

    locations = new Wmsb.Collections.Buses(JSON.parse(tmp.innerHTML));
    view = new Wmsb.Views.MapView({
      collection: locations,
      el: document.getElementById('map-canvas')
    });

    view.render();
  }

  google.maps.event.addDomListener(window, 'load', initialize);

#map-canvas
